* {
    box-sizing: border-box;
}

:root {
    --date-width: 10rem;
    --date-height: var(--date-width);
}

#root {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.month {
    display: grid;
    grid-template-columns: repeat(7, var(--date-width));
    grid-template-rows: 1fr repeat(6, var(--date-width));
}

.day {
    display: flex;
    flex-direction: column;
    outline: 2px rgb(20, 20, 20) solid;
    background-color: #2e2e2e;
    padding: 0.25rem;
    position: relative;
}

.day.faded {
    color: rgba(185, 185, 185, 0.63);
}

.day:hover .add,
.day:focus .add {
    display: block;
}

.selected,
.day:focus {
    /* border: white solid 2px; */
    box-shadow: inset 0 0 3px 2px white;
    border-radius: 5px;
    z-index: 1;
}

.event {
    padding: 0;
    margin: 0;
    font-size: 10pt;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.event:hover {
    background-color: #424242;
    cursor: pointer;
}

.add {
    display: none;
    width: 12px;
    height: 12px;
    padding: 6px;
    border-radius: 100%;
    text-align: center;
    position: absolute;
    bottom: 0.3rem;
    right: 0.25rem;
}

.add:hover {
    cursor: pointer;
    background-color: tan;
}
