.modal {
    --modal-width: 400px;
    --modal-height: 300px;
    --calendar-rows: 5;
    --width: calc(var(--date-width) + 2px);
    --height: calc(var(--date-height) + 2px);
    --modal-range: calc((var(--calendar-rows) * var(--height)) - var(--modal-height));
    background-color: rgb(42, 42, 42);
    position: absolute;
    width: var(--modal-width);
    height: var(--modal-height);
    top: calc((var(--date-top) / 4) * var(--modal-range) + 34px);
    left: calc(var(--width) * var(--date-left) + var(--modal-offset));
    border: 2px solid #424242;
    border-radius: 0.25rem;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 3fr;     
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    padding: 0.75rem;
    text-align: left;
}

.modal-header {
    grid-area: auto / span 2;
}

.modal-buttons {
    grid-area: auto / 2;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.modal > label {
    font-size: 14px;
}

.modal > .event-details {
    text-overflow: ellipsis;
    overflow: auto;
}
